<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "JessyQuil TV" %></title>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/modernizr" %>
	<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "JessyQuil", root_path %></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <% if user_signed_in? %>
        <li><%= link_to "Hello #{current_user.nickname}", edit_user_registration_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <%else%>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <%end%>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="<%= 'active' if action_name == 'stream' %> stream"><%= link_to '<i class="fi-play-video stream-icon"></i> Stream'.html_safe, "/stream"%></li>
        <li class="<%= 'active' if controller_name == 'articles' %>"><%= link_to "Blog", articles_path%></li>
        <li class="<%= 'active' if action_name == 'about' %>"><%= link_to "About", "/about"%></li>
      </ul>
    </section>
  </nav>
  <div class="wrapper">
    <% if notice %>
    <div class="row">
    	<div class="small-8 small-centered columns">
        <div data-alert class="alert-box success radius">
          <%= notice %><a href="#" class="close">&times;</a>
        </div>
      </div>
  	</div>
    <% end %>
    <% if alert %>
    <div class="row">
      <div class="small-8 small-centered columns">
        <div data-alert class="alert-box alert radius">
          <%= alert %><a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>
    <% end %>

    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
